<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/> 
    <httpRuntime targetFramework="4.5"/> 

<!--    <customErrors mode="Off" />  -->

  </system.web>
  <appSettings>
    <add key="timeoutconexao" value="20000"/>
    <add key="urlbase" value="https://sed.educacao.sp.gov.br/webapi/api/userv2"/>
    <add key="authorization" value=""/>
    <add key="proxy" value=""/>
    <add key="cache" value="disabled"/>
  </appSettings>
  <system.net>
	 <defaultProxy>
<!--      <proxy proxyaddress="http://10.1.6.20:80" usesystemdefault="false" /> 
      <proxy proxyaddress="http://proxy01.prodesp.sp.gov.br:80" usesystemdefault="false" />  -->
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsAutenticacaoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/pneteduc/ws/wsautenticacao/wsautenticacao.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsAutenticacaoSoap"
        contract="svcintranet.wsAutenticacaoSoap" name="wsAutenticacaoSoap" />
    </client>
  </system.serviceModel>
</configuration>